#pattern filter=crypt diff=crypt merge==crypt
android_sign_key.jks filter=crypt diff=crypt merge==crypt
app/src/main/res/values/keys.xml filter=crypt diff=crypt merge==crypt
PlayStore/google-play-api-key.json filter=crypt diff=crypt merge==crypt
